/* -- Header icon styles for the com_categories extension.        -- */
.icon-48-courses-categories			{	background-image: url(../../images/header/icon-48-courses-cat.gif) !important;	 	}
.icon-48-courses-category-edit		{	background-image: url(../../images/header/icon-48-courses-cat.gif) !important;		}
.icon-48-courses-category-add		{	background-image: url(../../images/header/icon-48-courses-cat-add.gif) !important;	}




