/* -- Personalised Styles for the Admin area ----------------------------- */

/* -- ICON STYLES ----------------------------- */
.icon-16-courses					{	background-image: url(../images/menu/icon-16-courses.png);	}
.icon-16-courses-cat				{	background-image: url(../images/menu/icon-16-courses-cat.png);	}

/* -- TOOLBAR ICON STYLES ----------------------------- */

/* -- HEADER ICON STYLES ----------------------------- */
.icon-48-courses					{	background-image: url(../images/header/icon-48-courses.png);	}
.icon-48-courses-categories			{	background-image: url(../images/header/icon-48-courses-cat.gif);	}
.icon-48-courses-category-edit		{	background-image: url(../images/header/icon-48-courses-cat.gif);	}
.icon-48-courses-category-add		{	background-image: url(../images/header/icon-48-courses-cat-add.gif);	}




